*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: Arial, sans-serif;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    gap: 80px;
}

.products img {
    width: 100px;
    height: 100px;
}

.pagination {
        padding: 10px;
        margin: 15px 0;
        display: flex;
        justify-content: center;
    /* margin-top: 60px; */
    /* padding: 10px; */
    /* margin: 15px 0; */
    /* display: flex;
    justify-content: center; */
}

.pagination span{
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.pagination__selected{
    background-color: rgb(172, 166, 166);
}