*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: Arial, sans-serif;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    gap: 80px;
}

.products img {
    width: 100px;
    height: 100px;
}